<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Info</title>
    <style>
        table, td, th, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Person Info</h1>

<form action="/persons" method="post"><br><br>
    <input type="text" name="name" placeholder="name"><br><br>
    <input type="text" name="family" placeholder="family"><br><br>
    <input type="date" name="birth_date" placeholder="birth_date"><br><br>
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <input type="submit" value="Save">
</form>
<br><br><br>
<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Family</th>
    <th>BirthDate</th>
    <th>UserName</th>
    <th>Operation</th>
    </thead>
    <tbody>
    {% for person in person_list %}
    <tr>
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.family}}</td>
        <td>{{person.birth_date}}</td>
        <td>{{person.username}}</td>
        <td>
            <button>Edit</button>
            <button>Remove</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>